*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
    background-color: rgb(73, 72, 72);
}
.container{
    width: 80%;
    margin: auto;
}
header{
    
    background-color: #696969;
    padding: 10px 0;
}

.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo{
    width: 100px;
    height: 70px;
    margin-right: 150px;
}
.brand{
    font-size: 32px;
    text-decoration: none;
    color: white;
    margin: 0 50px;   
}
.header-content hr{
    height: 35px;
}
#sliderhome{
    position:relative;
    border-radius: 30px;
    margin-left: 70px;
    width: 1190px;
    height: 200px;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content:left;
    background-image: url("slider1.jpg");
}
.buttonslider{
    height: 200px;
    border: none;
    background-color:transparent ;
}
nav ul{
    display: flex;
    list-style: none;
    
}
nav ul li i{
    color: rgb(74, 6, 6);
    font-size: 20px;
}

nav ul#user-info{
    display: none;
}
nav ul#user-info li{
    position: relative;
    margin: 0 5px;
}
nav ul#user-info li i{
    color: rgb(74, 6, 6);
    font-size: 22px;
    cursor: pointer;
}
nav ul#user-info li .badge{
    color: rgb(0, 0, 0);
    width: 20px;
    height: 20px;
    margin-right: 61px;
    background-color: white;
    text-align: center;
    display: block;
    position: absolute;
    border: 0;
    border-radius: 50%;
    font-size: 12px;
    line-height: 20px;
    top: -9px;
    right: 0px;
    display: block;
}
nav ul#user-info li .carts-product{
    position: absolute;
    width: 200px;
    margin-top: 15px;
    background-color: whitesmoke;
    top:46px;
    padding: 10px;
    border: 1px solid gray;
    display: none;
    z-index: 6;
   
}
nav ul#user-info li .carts-product a{
    background-color: saddlebrown;
    display: block;
    color: white;
    margin: 0;
    padding: 5px;
    text-align: center;
    text-decoration: none;


}
nav li a{  
    color: white;
    min-width: 50px;
    padding: 5px;
    margin: 0 5px;
    
}
#navbarprodect{
    background-color: #696969;
    padding: 15px;
    width: 1000px;
    height: 40px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}
.prodectGroupButton{
    background-color:whitesmoke;
    font-size: 26px;
    padding: 5px;
    border-radius: 10px;
    font-weight: bolder;
    margin-left: 25px;
    margin-right: 25px;
    width: 150px;
}
.section-form{
    position: relative;
    margin-top: 25%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: whitesmoke;
    width: 40%;
    text-align: center;
    padding: 20px;
}
.section-form h2{
    font-size: 50px;
    letter-spacing: 2px;
    color:#52057b;
}
.section-form input{
    display: block;
    width: 100%;
    margin: 5px 0;
    height: 40px;
    border: 1px solid #ddd;
    padding: 6px;
    font-family: 'Oswald', sans-serif;

}
.section-form input[type=submit]{
    font-size: 26px;
    text-transform: capitalize;
    height: auto;
    outline: 0;
}
.section-form input[type=submit]:hover{
    opacity: 0.7;
}
/*-- products style--*/
.products{
    width: 70%;
    margin: 10px 0;
}
.product-item{

    display: flex;
    width: 100%;
    background-color: whitesmoke;
    border: 1px solid gray;
    
    border-radius: 20px;
    padding: 10px;
}
.home .container{
    margin-top: 5%;
}
.product-item-img{
    width: 25%;
    height: 150px;
    margin-right: 10px;
}
.product-item-actions{
    flex:1;
    text-align: right;
    display: flex;
    flex-direction: column;
}
.product-item-description a{
    display: block;
    font-size: 24px;
    color: black;
    cursor: pointer;
}
.add-to-cart{
    display: block;
    font-size: 18px;
    margin-left:auto;
    background-color: gray;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    width: fit-content;
    font-family: 'Oswald', sans-serif;

}
.add-to-favorite{
    display: block;
    margin-top: auto;
}
.item-details img{
    width:50%;
    margin: 10px 0;
    border: 1px solid gray;
    padding: 2px;
    height: 400px;

}
/* Footer design*/
#footerDiv{
    margin-top: 5%;
    padding: 20px;
    height: fit-content;
    width: 100%;
    background-color: rgb(73, 53, 53);
    position:relative;
    z-index: 1;
    font-size: 26px;
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.groupFooterLink:link{
    color: white;
    padding:15px;
    text-decoration: none;
}
.groupFooterLink:visited{
color: white;
}
#framemap{

margin-top: 15px;
padding:10px;
border-radius:50px;
float: right;
margin-right: px;


}
#uphome{
    top:500px;
    z-index: 2;
    position: fixed;
    width: fit-content;
    size: 100px;
}
#footerDivCart{
    margin-top: 15%;
    bottom: 0;
    padding: 20px;
    height: fit-content;
    width: 100%;
    background-color: rgb(73, 53, 53);
    position:relative;
    z-index: 1;
    font-size: 26px;
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.home .container .noProduct{
    margin-top: 10%;
    border: 2px solid gray;
    background-color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    display:none;
}